/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  margin: 100px;
}

p {
  color: white;
  background: #0088dd;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
}

form {
  background: #ffffff;
  padding: 20px;
}

label {
  font-family: Roboto;
}

textarea {
  background: #65657a;
  border-radius: 5px;
}

select {
  background: #65657a;
  border-radius: 5px;
  color: lightgrey;
}

input {
  padding: 15px;
}

.switch-wrapper {
  display: inline-block;
  width: 30px;
  height: 20px;
  padding: 2px;
  border-radius: 10px;
  background: #f4433580;
}

.switch-inner {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f44335;
}

input:checked + .switch-wrapper .switch-inner {
  margin-left: 10px;
}

.switch input {
  display: none;
}
